{{ define "main" }}
<!-- //Meta tag Keywords -->
<!--/Style-CSS -->
<link rel="stylesheet" href="https://ian08005454.github.io/ASCDC_intern/css/style.css" type="text/css" media="all" />
<!--//Style-CSS -->
<!-- font-awesome-icons -->
<link href="https://ian08005454.github.io/ASCDC_intern/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<section class="w3l-error-61-404">
	<!-- /error-61-section -->
	<div class="error-61-mian">
		<div class="wrapper">
			<div class="errors-16-top">
				<div class="errors-16-info">
					<h3>404 </h3>
					<p>sorry! 頁面找不到了</p>
					
				
				</div>

			</div>
		</div>
	</div>
</section>
{{ end }}